body {
		background: white;
		color: black;
		text-align: center;
		font-family: sherif, Roboto, Arial;
		font-size: 20px;

	}

	h1, h2 {
		margin: 0px;
		font-size: 30px;

	}

	h1 {
		color: green;
	}

	h2 {
		color: darkred;
	}

	ol {
		color: #ccc;
		font-size: 20px;
		text-align: left;
	}

	a {
		color: darkred;
		font-weight: bold;
		text-align: center;
	}

	article {
		border: 1px solid #ccc;


		margin: 50px auto;
		padding: 50px;

		max-width: 420px;
	}

	footer img {
		width: 80px;
		border-radius: 50%;
		border: 2px solid lightblue;
	}

	.farba2 {
		color: green;
	}

	.fr1 {
		color: darkred;
	}
